# Ignore compiled code
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore logs and local caches
*.log
*.sqlite
*.db
*.pid

# Ignore local environment files
.env
.env.*

# Ignore virtual environment (your local venv)
vn/
venv/
.env/
.venv/

# Ignore git and editor settings
.git/
.gitignore
.vscode/
.DS_Store

# Ignore local mount points or tmp
/mnt/
tmp/
